<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.dev.repository.mybatis.TcComCdMapper"><resultMap id="TcComCd" type="TcComCd">
   <result property="grp_cd" column="grp_cd"/>
     <result property="com_cd" column="com_cd"/>
     <result property="com_cd_nm" column="com_cd_nm"/>
     <result property="com_cd_nm_eng" column="com_cd_nm_eng"/>
     <result property="use_yn" column="use_yn"/>
     <result property="reg_id" column="reg_id"/>
     <result property="reg_dtm" column="reg_dtm"/>
     <result property="mod_id" column="mod_id"/>
     <result property="mod_dtm" column="mod_dtm"/>
</resultMap>
<select id="selectByPage" resultMap="TcComCd">
   SELECT  * FROM  ( SELECT b.*, ROWNUM RN FROM (SELECT * FROM TC_COM_CD ${query} ${order}) b where ROWNUM <![CDATA[ <= ]]> #{perPage}) WHERE RN > #{offset}
</select>
<insert id="insert"  keyProperty="grp_cd">
INSERT INTO
   TC_COM_CD (grp_cd,com_cd,com_cd_nm,com_cd_nm_eng,use_yn,reg_id,reg_dtm,mod_id,mod_dtm)
VALUES
   (#{grp_cd},#{com_cd},#{com_cd_nm},#{com_cd_nm_eng},#{use_yn},#{reg_id},#{reg_dtm},#{mod_id},#{mod_dtm})
</insert>
<update id="update">
UPDATE
   TC_COM_CD
SET
    grp_cd = #{grp_cd},
  com_cd_nm = #{com_cd_nm},
  com_cd_nm_eng = #{com_cd_nm_eng},
  use_yn = #{use_yn},
  reg_id = #{reg_id},
  reg_dtm = #{reg_dtm},
  mod_id = #{mod_id},
  mod_dtm = #{mod_dtm}
WHERE
    com_cd = #{com_cd}
</update>
<delete id="delete">
DELETE FROM
   TC_COM_CD
WHERE
    com_cd = #{com_cd}
</delete>
<select id="findById" resultMap="TcComCd">
SELECT * FROM
   TC_COM_CD
WHERE
    com_cd = #{com_cd}
</select>
<select id="selectCount" resultType="integer">
SELECT COUNT(*) FROM
   TC_COM_CD ${query}
</select>
</mapper>