<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.dev.repository.mybatis.TcExchangeMapper"><resultMap id="TcExchange" type="TcExchange">
   <id property="id" column="id"/>
     <result property="rate" column="rate"/>
     <result property="rate_float" column="rate_float"/>
     <result property="last_date" column="last_date"/>
</resultMap>
<select id="selectByPage" resultMap="TcExchange">
   SELECT  * FROM  ( SELECT b.*, ROWNUM RN FROM (SELECT * FROM TC_EXCHANGE ${query} ${order}) b where ROWNUM <![CDATA[ <= ]]> #{perPage}) WHERE RN > #{offset}
</select>
<insert id="insert"  keyProperty="id">
INSERT INTO
   TC_EXCHANGE (id,rate,rate_float,last_date)
VALUES
   (tc_exchange_seq.nextval,#{rate},#{rate_float},#{last_date})
</insert>
<update id="update">
UPDATE
   TC_EXCHANGE
SET
  rate = #{rate},
  rate_float = #{rate_float},
  last_date = #{last_date}
WHERE
   id = #{id}
</update>
<delete id="delete">
DELETE FROM
   TC_EXCHANGE
WHERE
   id = #{id}
</delete>
<select id="findById" resultMap="TcExchange">
SELECT * FROM
   TC_EXCHANGE
WHERE
   id = #{id}
</select>
<select id="selectCount" resultType="integer">
SELECT COUNT(*) FROM
   TC_EXCHANGE ${query}
</select>
</mapper>