<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.dev.repository.mybatis.TmExpenditureMapper">
    <resultMap id="TmExpenditure" type="TmExpenditure">
        <id property="expId" column="exp_id"/>
        <result property="comCd" column="com_cd"/>
        <result property="expCl" column="exp_cl"/>
        <result property="expVt" column="exp_vt"/>
        <result property="expTtl" column="exp_ttl"/>
        <result property="useYn" column="use_yn"/>
        <result property="regId" column="reg_id"/>
        <result property="regDtm" column="reg_dtm"/>
        <result property="modId" column="mod_id"/>
        <result property="modDtm" column="mod_dtm"/>
    </resultMap>
    <select id="selectByPage" resultMap="TmExpenditure">
        SELECT  * FROM  ( SELECT b.*, ROWNUM RN FROM (SELECT * FROM TM_EXPENDITURE ${query} ${order}) b where ROWNUM <![CDATA[ <= ]]> #{perPage}) WHERE RN > #{offset}
    </select>
    <insert id="insert"  keyProperty="expId">
        INSERT INTO
        TM_EXPENDITURE (exp_id,com_cd,exp_cl,exp_vt,exp_ttl,use_yn,reg_id,reg_dtm,mod_id,mod_dtm)
        VALUES
        (tm_expenditure_seq.nextval,#{comCd},#{expCl},#{expVt},#{expTtl},#{useYn},#{regId},#{regDtm},#{modId},#{modDtm})
    </insert>
    <update id="update">
        UPDATE
        TM_EXPENDITURE
        SET
        com_cd = #{comCd},
        exp_cl = #{expCl},
        exp_vt = #{expVt},
        exp_ttl = #{expTtl},
        use_yn = #{useYn},
        reg_id = #{regId},
        reg_dtm = #{regDtm},
        mod_id = #{modId},
        mod_dtm = #{modDtm}
        WHERE
        exp_id = #{expId}
    </update>
    <delete id="delete">
        DELETE FROM
        TM_EXPENDITURE
        WHERE
        exp_id = #{expId}
    </delete>
    <select id="findById" resultMap="TmExpenditure">
        SELECT * FROM
        TM_EXPENDITURE
        WHERE
        exp_id = #{expId}
    </select>
    <select id="selectCount" resultType="integer">
        SELECT COUNT(*) FROM
        TM_EXPENDITURE ${query}
    </select>
</mapper>