<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.dev.repository.mybatis.TmMacroEconomicMapper">
    <resultMap id="TmMacroEconomic" type="TmMacroEconomic">
        <id property="meId" column="me_id"/>
        <result property="miId" column="mi_id"/>
        <result property="meYr" column="me_yr"/>
        <result property="meVle" column="me_vle"/>
        <result property="useYn" column="use_yn"/>
        <result property="regId" column="reg_id"/>
        <result property="regDtm" column="reg_dtm"/>
        <result property="modId" column="mod_id"/>
        <result property="modDtm" column="mod_dtm"/>
    </resultMap>
    <select id="selectByPage" resultMap="TmMacroEconomic">
        SELECT  * FROM  ( SELECT b.*, ROWNUM RN FROM (SELECT * FROM TM_MACRO_ECONOMIC ${query} ${order}) b where ROWNUM <![CDATA[ <= ]]> #{perPage}) WHERE RN > #{offset}
    </select>
    <insert id="insert"  keyProperty="meId">
        INSERT INTO
        TM_MACRO_ECONOMIC (me_id,mi_id,me_yr,me_vle,use_yn,reg_id,reg_dtm,mod_id,mod_dtm)
        VALUES
        (tm_macro_economic_seq.nextval,#{miId},#{meYr},#{meVle},#{useYn},#{regId},#{regDtm},#{modId},#{modDtm})
    </insert>
    <update id="update">
        UPDATE
        TM_MACRO_ECONOMIC
        SET
        mi_id = #{miId},
        me_yr = #{meYr},
        me_vle = #{meVle},
        use_yn = #{useYn},
        reg_id = #{regId},
        reg_dtm = #{regDtm},
        mod_id = #{modId},
        mod_dtm = #{modDtm}
        WHERE
        me_id = #{meId}
    </update>
    <delete id="delete">
        DELETE FROM
        TM_MACRO_ECONOMIC
        WHERE
        me_id = #{meId}
    </delete>
    <select id="findById" resultMap="TmMacroEconomic">
        SELECT * FROM
        TM_MACRO_ECONOMIC
        WHERE
        me_id = #{meId}
    </select>
    <select id="selectCount" resultType="integer">
        SELECT COUNT(*) FROM
        TM_MACRO_ECONOMIC ${query}
    </select>
</mapper>